@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

::-webkit-scrollbar {
  display: none;
}

$logo-size: 40px;
$default-font: "Montserrat", sans-serif;
$default-font-color: #ffff;
$theme-first-color: #170c59;
$theme-second-color: #060024;
$theme-gradient: linear-gradient(
  to bottom,
  $theme-first-color 0%,
  $theme-second-color 100%
);
$theme-gradient-second: linear-gradient(
  to bottom,
  $theme-first-color 0%,
  $theme-second-color 50%
);
$theme-border-color: #1c1a42;
$theme-second-border-color: #454099;

h1 {
  font-size: 45px;

  @media (max-width: 575px) {
    & {
      font-size: 6vw;
    }
  }
}

h2 {
  font-size: 35px;

  @media (max-width: 575px) {
    & {
      font-size: 5vw;
    }
  }
}

h3 {
  font-size: 25px;

  @media (max-width: 575px) {
    & {
      font-size: 4.5vw;
    }
  }
}

h4 {
  font-size: 20px;

  @media (max-width: 575px) {
    & {
      font-size: 4vw;
    }
  }
}

p {
  font-size: 15px;

  @media (max-width: 575px) {
    & {
      font-size: 3vw;
    }
  }
}

body {
  font-family: $default-font;
  color: $default-font-color;
  background-color: black;
}

a {
  color: $default-font-color;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 575px) {
    & {
      padding: 0 25px;
    }
  }
}

.font {
  &--bold {
    font-weight: bold;
  }

  &--highlight {
    background: linear-gradient(90deg, #5450e7 0%, #999 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.circle {
  width: 6px;
  height: 6px;
  background-color: #6272a4; /* Circle color */
  border-radius: 50%; /* Makes the dot round */
}

.animated-slide {
  position: relative;
  transition: opacity 500ms ease-in-out, transform 300ms ease-in-out;
  opacity: 0;
}

.animated-slide.active {
  opacity: 1;
}

.slide-left-right {
  transform: translateX(-220px);
}
.slide-left-right.active {
  transform: translateX(0);
}

.slide-right-left {
  transform: translateX(220px);
}
.slide-right-left.active {
  transform: translateX(0);
}

.slide-bottom-top {
  transform: translateY(220px);
}
.slide-bottom-top.active {
  transform: translateY(0);
}

.slide-top-bottom {
  transform: translateY(-220px);
}
.slide-top-bottom.active {
  transform: translateY(0);
}

.bg-ellipse-top {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -5%);
  z-index: 1;

  @media (max-width: 575px) {
    left: 0;
    right: 0;
    width: 100%;
    transform: none;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: black;

  * {
    position: relative;
    z-index: 3;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__company {
    display: flex;
    gap: 13px;
  }

  .header__mobnav-button {
    display: flex;
    flex-direction: column;
    display: none;
    gap: 4px;
  }

  .header__mobnav-stick {
    width: 24px;
    height: 4px;
    border-radius: 12px;
    background-color: #ffff;
  }

  .header__logo {
    height: $logo-size;
    width: $logo-size;
  }

  .header__nav {
    display: flex;
    gap: 20px;
  }

  .nav__link {
    padding: 15px 35px;
    border: 2px solid white;
    border-radius: 17px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: transform 300ms ease-in-out;
    cursor: pointer;

    &--white {
      background-color: #ffffff;
      color: black;
    }

    &--transparent {
      background-color: transparent;
      color: white;
    }

    &:hover {
      transform: scale(0.95);
    }
  }

  .nav__lang {
    z-index: 5;
  }

  .nav__lang-switcher {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 17px;
    color: white;
    padding: 15px;
    display: block;
    transition: transform 100ms ease-in-out;
    box-shadow: none;
  }

  .nav__lang-switcher:focus,
  .nav__lang-switcher:active {
    transform: scale(0.93);
  }

  .nav__lang-menu-wrapper {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    scale: 0.65;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out,
      scale 200ms ease-in-out;
  }

  .nav__lang-menu {
    display: flex;
    position: relative;
    left: -6px;
    top: 9px;
    gap: 4px;
    flex-direction: column;
    text-align: center;
  }

  .nav__lang-link {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid white;
    border-radius: 10px;
    width: 50px;
    background-color: #413680;
    cursor: pointer;
  }

  .nav__lang-menu-wrapper.visible {
    opacity: 1;
    visibility: visible;
    z-index: 5;
    scale: 1;
  }

  .company-name {
    font-size: 30px;
  }

  @media (max-width: 575px) {
    & {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .nav__link {
      display: none;
    }

    .nav__link:last-child {
      display: block;
    }

    .nav__lang-switcher {
      padding: 10px 15px;
    }

    .nav__lang-link {
      padding: 10px 11px;
    }

    .header__company-name {
      display: none;
    }
  }
}

.intro {
  background: black;
  padding: 80px 0 150px 0;
  overflow: hidden;
  text-align: center;

  * {
    position: relative;
    z-index: 3;
  }

  .intro__img {
    display: none;
  }

  .intro__title {
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
  }

  .intro__subtitle {
    margin: 15px 0 25px 0;
  }

  .intro__button {
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    border: 3px solid var(--rise, #5450e7);
  }

  @media (max-width: 575px) {
    padding: 40px 0 100px 0;

    .intro__img {
      display: inline;
      width: 83%;
      text-align: center;
      margin-bottom: 30px;
    }

    .intro__title {
      line-height: 30px;
    }
  }
}

.services {
  background: black;
  padding-bottom: 50px;

  .services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .services__item {
    border: 5px solid $theme-border-color;
    border-radius: 15px;
    padding: 35px;
    flex: 1;
    min-width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    transition: scale 200ms ease-in-out, border 200ms ease-in-out;
  }

  .services__item:hover {
    scale: 1.04;
    border: 5px solid $theme-second-border-color;
  }

  .services__img {
    margin-bottom: 23px;
    width: 70px;
    height: 70px;
  }

  .services__title {
    margin-bottom: 15px;
  }

  @media (max-width: 575px) {
    .services__list {
      gap: 10px;
    }

    .services__item {
      min-width: 80px;
      padding: 10px;
      text-align: center;
    }

    .services__img {
      margin-bottom: 5px;
      width: 33px;
      height: 33px;
    }
  }
}

.dev-steps {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(
    182deg,
    #000 1.37%,
    #0a0a4a 50.48%,
    #000001 97.75%
  );
  overflow: hidden;

  .dev-steps__subtitle {
    margin-bottom: 5px;
  }

  .dev-steps__title {
    margin-bottom: 60px;
    line-height: 40px;
  }

  .dev-steps__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
  }

  .dev-steps__item {
    margin-bottom: 100px;
    display: flex;
    align-items: start;
    gap: 23px;
  }

  .dev-steps__item-img-wrapper {
    padding: 10px;
    background-color: #1e00d7;
    border-radius: 60px;
  }

  .dev-steps__item-img {
    width: 32px;
    height: 32px;
  }

  .dev-steps__item-title {
    margin-bottom: 10px;
    font-weight: 600;
  }

  .dev-steps__item-desc {
    line-height: 20px;
  }

  .dev-steps__img {
    width: 500px;
    height: 500px;
  }

  @media (max-width: 575px) {
    .dev-steps__content {
      flex-direction: column;
      gap: 15px;
    }

    .dev-steps__img-wrapper {
      text-align: center;
    }

    .dev-steps__img {
      width: 90%;
      height: auto;
    }

    .dev-steps__subtitle {
      margin-bottom: 15px;
      text-align: center;
    }

    .dev-steps__title {
      margin-bottom: 27px;
      line-height: 25px;
      text-align: center;
    }

    .dev-steps__item {
      gap: 15px;
      margin-bottom: 50px;
    }

    .dev-steps__item:nth-last-child(1) {
      margin-bottom: 30px;
    }

    .dev-steps__item-img {
      height: 22px;
      width: 22px;
    }

    .dev-steps__item-desc {
      line-height: 15px;
    }
  }
}

.portfolio {
  background-color: black;
  overflow: hidden;
  padding: 75px 0 170px 0;

  .portfolio__intro {
    text-align: center;
  }

  .portfolio__title {
    margin-bottom: 15px;
    font-weight: 700;
  }

  .portfolio__subtitle {
    margin-bottom: 94px;
    padding: 14px 30px;
    display: inline-block;
    border-radius: 52px;
    border: 1px solid #5450e7;
  }

  .portfolio__img {
    width: 100%;
  }

  .portfolio__img-mob {
    display: none;
  }

  @media (max-width: 575px) {
    padding: 75px 0 20px;

    .portfolio__img-pc {
      display: none;
    }

    .portfolio__img-mob {
      display: inline;
    }

    .portfolio__subtitle {
      margin-bottom: 20px;
    }
  }
}

.facts {
  padding: 80px 0;
  background: linear-gradient(
    182deg,
    #000 1.37%,
    #0a0a4a 50.48%,
    #000001 97.75%
  );

  .facts__img {
    width: 100%;
  }

  .facts__img-mob {
    display: none;
  }

  @media (max-width: 575px) {
    padding: 80px 0;

    .facts__img-pc {
      display: none;
    }

    .facts__img-mob {
      display: inline;
    }
  }
}

.aboutus {
  padding: 150px 0;

  .aboutus__title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  .aboutus__title:nth-child(4) {
    margin-bottom: 15px;
  }

  .aboutus__info {
    display: flex;
    gap: 45px;
    margin-bottom: 100px;
  }

  .aboutus__item {
    padding: 20px 30px 0;
    border-radius: 30px;
    background: #090946;
    text-align: center;
    line-height: normal;
    flex: 1;
  }

  .aboutus__item__img-wrap {
    height: 40%;
  }

  .aboutus__item-icon {
    margin-bottom: 18px;
    position: relative;
    top: -40px;
    height: 100px;
  }

  .aboutus__item-title {
    margin-bottom: 10px;
  }

  .aboutus__subtitle {
    text-align: center;
    margin-bottom: 30px;
  }

  .aboutus__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .aboutus__contact-link {
    padding: 10px 23px;
    border-radius: 30px;
    border: 3px solid #5450e7;
    text-decoration: none;
    color: white;
  }

  .aboutus__reviews {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 130px;
  }

  .aboutus__reviews-item {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .aboutus__reviews-message {
    border-radius: 15px;
    background: linear-gradient(270deg, #6762e0 0%, #4a45c3 100%);
    padding: 15px 25px;
    width: 346px;
    flex: 3;
  }

  .aboutus__reviews-icon {
    height: 20px;
    margin-bottom: 10px;
  }

  .aboutus__reviews-triangle {
    position: relative;
    right: -45px;
    margin-bottom: 10px;
  }

  .aboutus__reviews-userimg {
    height: 60px;
    margin-right: 10px;
  }

  .aboutus__reviews-user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .aboutus__reviews-username {
    margin-bottom: 7px;
  }

  @media (max-width: 575px) {
    padding: 25px 0 100px;

    .aboutus__info {
      flex-direction: column;
    }

    .aboutus__item {
      padding: 15px 30px;
    }

    .aboutus__item-icon {
      position: static;
    }

    .aboutus__item__img-wrap {
      height: 70px;
      position: relative;
      top: -35px;
    }

    .aboutus__item-icon,
    .aboutus__item-title,
    .aboutus__item-subtitle {
      margin-bottom: 10px;
    }

    .aboutus__subtitle {
      margin-bottom: 20px;
    }

    .aboutus__reviews {
      justify-content: unset;
      overflow-x: scroll;
    }

    .aboutus__reviews-message {
      width: 66vw;
      padding: 15px 15px 30px;
    }

    .aboutus__reviews-text {
      font-size: 15px;
    }

    .aboutus__reviews-username {
      font-size: 15px;
    }

    .aboutus__reviews-userorder {
      font-size: 14px;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.footer {
  background-color: #090945;
  padding: 65px 0 80px;

  .footer__wrapper {
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
  }

  .footer__title {
    font-weight: 700;
  }

  .footer__line {
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
  }

  @media (max-width: 575px) {
    .footer__wrapper {
      max-width: 300px;
    }
  }
}
