@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 45px;
}
@media (max-width: 575px) {
  h1 {
    font-size: 6vw;
  }
}

h2 {
  font-size: 35px;
}
@media (max-width: 575px) {
  h2 {
    font-size: 5vw;
  }
}

h3 {
  font-size: 25px;
}
@media (max-width: 575px) {
  h3 {
    font-size: 4.5vw;
  }
}

h4 {
  font-size: 20px;
}
@media (max-width: 575px) {
  h4 {
    font-size: 4vw;
  }
}

p {
  font-size: 15px;
}
@media (max-width: 575px) {
  p {
    font-size: 3vw;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: black;
}

a {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media (max-width: 575px) {
  .container {
    padding: 0 25px;
  }
}

.font--bold {
  font-weight: bold;
}
.font--highlight {
  background: linear-gradient(90deg, #5450e7 0%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  width: 6px;
  height: 6px;
  background-color: #6272a4; /* Circle color */
  border-radius: 50%; /* Makes the dot round */
}

.animated-slide {
  position: relative;
  transition: opacity 500ms ease-in-out, transform 300ms ease-in-out;
  opacity: 0;
}

.animated-slide.active {
  opacity: 1;
}

.slide-left-right {
  transform: translateX(-220px);
}

.slide-left-right.active {
  transform: translateX(0);
}

.slide-right-left {
  transform: translateX(220px);
}

.slide-right-left.active {
  transform: translateX(0);
}

.slide-bottom-top {
  transform: translateY(220px);
}

.slide-bottom-top.active {
  transform: translateY(0);
}

.slide-top-bottom {
  transform: translateY(-220px);
}

.slide-top-bottom.active {
  transform: translateY(0);
}

.bg-ellipse-top {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -5%);
  z-index: 1;
}
@media (max-width: 575px) {
  .bg-ellipse-top {
    left: 0;
    right: 0;
    width: 100%;
    transform: none;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: black;
}
.header * {
  position: relative;
  z-index: 3;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__company {
  display: flex;
  gap: 13px;
}
.header .header__mobnav-button {
  display: flex;
  flex-direction: column;
  display: none;
  gap: 4px;
}
.header .header__mobnav-stick {
  width: 24px;
  height: 4px;
  border-radius: 12px;
  background-color: white;
}
.header .header__logo {
  height: 40px;
  width: 40px;
}
.header .header__nav {
  display: flex;
  gap: 20px;
}
.header .nav__link {
  padding: 15px 35px;
  border: 2px solid white;
  border-radius: 17px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}
.header .nav__link--white {
  background-color: #ffffff;
  color: black;
}
.header .nav__link--transparent {
  background-color: transparent;
  color: white;
}
.header .nav__link:hover {
  transform: scale(0.95);
}
.header .nav__lang {
  z-index: 5;
}
.header .nav__lang-switcher {
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 17px;
  color: white;
  padding: 15px;
  display: block;
  transition: transform 100ms ease-in-out;
  box-shadow: none;
}
.header .nav__lang-switcher:focus,
.header .nav__lang-switcher:active {
  transform: scale(0.93);
}
.header .nav__lang-menu-wrapper {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  scale: 0.65;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, scale 200ms ease-in-out;
}
.header .nav__lang-menu {
  display: flex;
  position: relative;
  left: -6px;
  top: 9px;
  gap: 4px;
  flex-direction: column;
  text-align: center;
}
.header .nav__lang-link {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid white;
  border-radius: 10px;
  width: 50px;
  background-color: #413680;
  cursor: pointer;
}
.header .nav__lang-menu-wrapper.visible {
  opacity: 1;
  visibility: visible;
  z-index: 5;
  scale: 1;
}
.header .company-name {
  font-size: 30px;
}
@media (max-width: 575px) {
  .header {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .header .nav__link {
    display: none;
  }
  .header .nav__link:last-child {
    display: block;
  }
  .header .nav__lang-switcher {
    padding: 10px 15px;
  }
  .header .nav__lang-link {
    padding: 10px 11px;
  }
  .header .header__company-name {
    display: none;
  }
}

.intro {
  background: black;
  padding: 80px 0 150px 0;
  overflow: hidden;
  text-align: center;
}
.intro * {
  position: relative;
  z-index: 3;
}
.intro .intro__img {
  display: none;
}
.intro .intro__title {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
}
.intro .intro__subtitle {
  margin: 15px 0 25px 0;
}
.intro .intro__button {
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 30px;
  border: 3px solid var(--rise, #5450e7);
}
@media (max-width: 575px) {
  .intro {
    padding: 40px 0 100px 0;
  }
  .intro .intro__img {
    display: inline;
    width: 83%;
    text-align: center;
    margin-bottom: 30px;
  }
  .intro .intro__title {
    line-height: 30px;
  }
}

.services {
  background: black;
  padding-bottom: 50px;
}
.services .services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.services .services__item {
  border: 5px solid #1c1a42;
  border-radius: 15px;
  padding: 35px;
  flex: 1;
  min-width: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  transition: scale 200ms ease-in-out, border 200ms ease-in-out;
}
.services .services__item:hover {
  scale: 1.04;
  border: 5px solid #454099;
}
.services .services__img {
  margin-bottom: 23px;
  width: 70px;
  height: 70px;
}
.services .services__title {
  margin-bottom: 15px;
}
@media (max-width: 575px) {
  .services .services__list {
    gap: 10px;
  }
  .services .services__item {
    min-width: 80px;
    padding: 10px;
    text-align: center;
  }
  .services .services__img {
    margin-bottom: 5px;
    width: 33px;
    height: 33px;
  }
}

.dev-steps {
  padding-top: 75px;
  padding-bottom: 75px;
  background: linear-gradient(182deg, #000 1.37%, #0a0a4a 50.48%, #000001 97.75%);
  overflow: hidden;
}
.dev-steps .dev-steps__subtitle {
  margin-bottom: 5px;
}
.dev-steps .dev-steps__title {
  margin-bottom: 60px;
  line-height: 40px;
}
.dev-steps .dev-steps__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.dev-steps .dev-steps__item {
  margin-bottom: 100px;
  display: flex;
  align-items: start;
  gap: 23px;
}
.dev-steps .dev-steps__item-img-wrapper {
  padding: 10px;
  background-color: #1e00d7;
  border-radius: 60px;
}
.dev-steps .dev-steps__item-img {
  width: 32px;
  height: 32px;
}
.dev-steps .dev-steps__item-title {
  margin-bottom: 10px;
  font-weight: 600;
}
.dev-steps .dev-steps__item-desc {
  line-height: 20px;
}
.dev-steps .dev-steps__img {
  width: 500px;
  height: 500px;
}
@media (max-width: 575px) {
  .dev-steps .dev-steps__content {
    flex-direction: column;
    gap: 15px;
  }
  .dev-steps .dev-steps__img-wrapper {
    text-align: center;
  }
  .dev-steps .dev-steps__img {
    width: 90%;
    height: auto;
  }
  .dev-steps .dev-steps__subtitle {
    margin-bottom: 15px;
    text-align: center;
  }
  .dev-steps .dev-steps__title {
    margin-bottom: 27px;
    line-height: 25px;
    text-align: center;
  }
  .dev-steps .dev-steps__item {
    gap: 15px;
    margin-bottom: 50px;
  }
  .dev-steps .dev-steps__item:nth-last-child(1) {
    margin-bottom: 30px;
  }
  .dev-steps .dev-steps__item-img {
    height: 22px;
    width: 22px;
  }
  .dev-steps .dev-steps__item-desc {
    line-height: 15px;
  }
}

.portfolio {
  background-color: black;
  overflow: hidden;
  padding: 75px 0 170px 0;
}
.portfolio .portfolio__intro {
  text-align: center;
}
.portfolio .portfolio__title {
  margin-bottom: 15px;
  font-weight: 700;
}
.portfolio .portfolio__subtitle {
  margin-bottom: 94px;
  padding: 14px 30px;
  display: inline-block;
  border-radius: 52px;
  border: 1px solid #5450e7;
}
.portfolio .portfolio__img {
  width: 100%;
}
.portfolio .portfolio__img-mob {
  display: none;
}
@media (max-width: 575px) {
  .portfolio {
    padding: 75px 0 20px;
  }
  .portfolio .portfolio__img-pc {
    display: none;
  }
  .portfolio .portfolio__img-mob {
    display: inline;
  }
  .portfolio .portfolio__subtitle {
    margin-bottom: 20px;
  }
}

.facts {
  padding: 80px 0;
  background: linear-gradient(182deg, #000 1.37%, #0a0a4a 50.48%, #000001 97.75%);
}
.facts .facts__img {
  width: 100%;
}
.facts .facts__img-mob {
  display: none;
}
@media (max-width: 575px) {
  .facts {
    padding: 80px 0;
  }
  .facts .facts__img-pc {
    display: none;
  }
  .facts .facts__img-mob {
    display: inline;
  }
}

.aboutus {
  padding: 150px 0;
}
.aboutus .aboutus__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.aboutus .aboutus__title:nth-child(4) {
  margin-bottom: 15px;
}
.aboutus .aboutus__info {
  display: flex;
  gap: 45px;
  margin-bottom: 100px;
}
.aboutus .aboutus__item {
  padding: 20px 30px 0;
  border-radius: 30px;
  background: #090946;
  text-align: center;
  line-height: normal;
  flex: 1;
}
.aboutus .aboutus__item__img-wrap {
  height: 40%;
}
.aboutus .aboutus__item-icon {
  margin-bottom: 18px;
  position: relative;
  top: -40px;
  height: 100px;
}
.aboutus .aboutus__item-title {
  margin-bottom: 10px;
}
.aboutus .aboutus__subtitle {
  text-align: center;
  margin-bottom: 30px;
}
.aboutus .aboutus__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.aboutus .aboutus__contact-link {
  padding: 10px 23px;
  border-radius: 30px;
  border: 3px solid #5450e7;
  text-decoration: none;
  color: white;
}
.aboutus .aboutus__reviews {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 130px;
}
.aboutus .aboutus__reviews-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.aboutus .aboutus__reviews-message {
  border-radius: 15px;
  background: linear-gradient(270deg, #6762e0 0%, #4a45c3 100%);
  padding: 15px 25px;
  width: 346px;
  flex: 3;
}
.aboutus .aboutus__reviews-icon {
  height: 20px;
  margin-bottom: 10px;
}
.aboutus .aboutus__reviews-triangle {
  position: relative;
  right: -45px;
  margin-bottom: 10px;
}
.aboutus .aboutus__reviews-userimg {
  height: 60px;
  margin-right: 10px;
}
.aboutus .aboutus__reviews-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.aboutus .aboutus__reviews-username {
  margin-bottom: 7px;
}
@media (max-width: 575px) {
  .aboutus {
    padding: 25px 0 100px;
  }
  .aboutus .aboutus__info {
    flex-direction: column;
  }
  .aboutus .aboutus__item {
    padding: 15px 30px;
  }
  .aboutus .aboutus__item-icon {
    position: static;
  }
  .aboutus .aboutus__item__img-wrap {
    height: 70px;
    position: relative;
    top: -35px;
  }
  .aboutus .aboutus__item-icon,
  .aboutus .aboutus__item-title,
  .aboutus .aboutus__item-subtitle {
    margin-bottom: 10px;
  }
  .aboutus .aboutus__subtitle {
    margin-bottom: 20px;
  }
  .aboutus .aboutus__reviews {
    justify-content: unset;
    overflow-x: scroll;
  }
  .aboutus .aboutus__reviews-message {
    width: 66vw;
    padding: 15px 15px 30px;
  }
  .aboutus .aboutus__reviews-text {
    font-size: 15px;
  }
  .aboutus .aboutus__reviews-username {
    font-size: 15px;
  }
  .aboutus .aboutus__reviews-userorder {
    font-size: 14px;
  }
}

.no-scroll {
  overflow: hidden;
}

.footer {
  background-color: #090945;
  padding: 65px 0 80px;
}
.footer .footer__wrapper {
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer__title {
  font-weight: 700;
}
.footer .footer__line {
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}
@media (max-width: 575px) {
  .footer .footer__wrapper {
    max-width: 300px;
  }
}/*# sourceMappingURL=styles.css.map */