<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RiseApp Сompany</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}?v=6.0"
    />
    <script
      src="{{ url_for('static', filename='js/scripts.js') }}?v=4.0"
      defer
    ></script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block content %} {% endblock %} 
    {% include 'form-finder.html' %} 
    {% include 'get-up-btn.html' %}
  </body>
</html>
