{% extends "base.html" %} {% block content %}
<div class="page">
  {% include 'header.html' %}
  <main>
    <section class="details__intro animated-slide slide-bottom-top">
      <div class="intro-wrapper container">
        <div class="intro-textpart">
          <h4 class="intro-header">{{ _('Project of the 24th year') }}</h4>
          <h2 class="intro-title">{{ _('ProLearn') }}</h2>
          <h2 class="intro-name">{{ _('Ukrainian Online School') }}</h2>
          <h4 class="intro-description">
            {{ _('A modern Ukrainian online course platform for quickly
            mastering new professions. The platform offers over 200 courses in
            programming, design, marketing, and other fields.') }}
          </h4>
        </div>
        <div class="intro-imgpart">
          <img
            src="{{ url_for('static', filename='img/prolearn-detailts.png') }}"
            alt="details-img"
            class="intro-img"
          />
        </div>
      </div>
    </section>
    <section class="advantages">
      <div class="advantages__wrapper container">
        <div class="advantages__list">
          <div class="advantages__item border">
            <h4 class="advantages__title">
              {{ _('Accessibility and Clarity') }}
            </h4>
            <p class="advantages__description">
              {{ _('Creating an intuitive interface so users can easily find the
              right courses.') }}
            </p>
          </div>
          <div class="advantages__item border">
            <h4 class="advantages__title">{{ _('Motivation to Learn') }}</h4>
            <p class="advantages__description">
              {{ _('An engaging design that highlights course advantages through
              visual presentation and clear information blocks.') }}
            </p>
          </div>
          <div class="advantages__item border">
            <h4 class="advantages__title">{{ _('Trust in the Platform') }}</h4>
            <p class="advantages__description">
              {{ _('Emphasizing the professionalism of instructors and the
              reliability of certificates by adding reviews and statistics.') }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="project">
      <div class="project__wrapper container">
        <img
          src="{{ url_for('static', filename='img/prolearn-pc.png') }}"
          alt="project-img"
          class="project__img prolearn-pc"
        />
      </div>
    </section>
    <section class="properties">
      <div class="properties__wrapper container">
        <div class="properties__list">
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Development Cost:') }}</span
                >
                <span class="properties__value">1740 $</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap properties__item-wrap--filled">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Development Time:') }}</span
                >
                <span class="properties__value">27 {{ _('days') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('SEO Optimization:') }}</span
                >
                <span class="properties__value"> {{ _('Included') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Technical Support:') }}</span
                >
                <span class="properties__value">12 {{ _('months') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name"> {{ _('Admin Panel:') }}</span>
                <span class="properties__value"> {{ _('Yes') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Number of Pages:') }}</span
                >
                <span class="properties__value">8</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="project">
      <div class="project__wrapper container">
        <img
          src="{{ url_for('static', filename='img/prolearn-mobile.png') }}"
          alt="project-img"
          class="project__img prolearn-mobile"
        />
      </div>
    </section>

    <section class="results">
      <div class="results__wrapper container">
        <div class="results__list">
          <div class="results__item">
            <h3 class="results__title">
              <span class="gray-text">{{ _('Project Indicators') }}</span>
            </h3>
            <h4 class="results__subtitle">
              {{ _('Rise App boosts project sales') }}
            </h4>
          </div>

          <div class="results__item results__item--highlight">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/3.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('UX/UI Design') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('The interface allows easy course search and navigation.') }}
            </p>
          </div>
          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/3.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('Adaptability') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('The site adapts seamlessly, increasing mobile traffic.') }}
            </p>
          </div>
          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/8.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">
                {{ _('Speed Optimization') }}
              </h4>
            </div>
            <p class="results__desc">
              {{ _('Page response in a fraction of a second thanks to modern
              technologies.') }}
            </p>
          </div>
          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/6.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">
                {{ _('Feature Convenience') }}
              </h4>
            </div>
            <p class="results__desc">
              {{ _('Includes a personal account, a review section, and a
              certification system.') }}
            </p>
          </div>
          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/7.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('Conversion Growth') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('Simplified navigation increases registrations and
              purchases.') }}
            </p>
          </div>
        </div>
      </div>
    </section>
    {% include 'form.html' %} {% include 'form-finder.html' %}
  </main>
  {% include 'footer.html' %}
</div>
{% endblock %}
