{% extends "base.html" %} {% block content %}
<div class="page">
  {% include 'header.html' %}
  <main>
    <section class="details__intro animated-slide slide-bottom-top">
      <div class="intro-wrapper container">
        <div class="intro-textpart">
          <h4 class="intro-header">{{ _('Project of the 24th year') }}</h4>
          <h2 class="intro-title">{{ _('SkillPoint') }}</h2>
          <h2 class="intro-name">{{ _('Online Tutor Selection') }}</h2>
          <h4 class="intro-description">
            {{ _('A concise page structure facilitates easy perception of
            information, and adaptiveness allows comfortable interaction on both
            computers and mobile devices.') }}
          </h4>
        </div>
        <div class="intro-imgpart">
          <img
            src="{{ url_for('static', filename='img/skillpoint-details.png') }}"
            alt=""
            class="intro-img"
          />
        </div>
      </div>
    </section>
    <section class="advantages">
      <div class="advantages__wrapper container">
        <div class="advantages__list">
          <div class="advantages__item border">
            <h4 class="advantages__title">{{ _('Interactive Platform') }}</h4>
            <p class="advantages__description">
              {{ _('A modern design created to make the learning process
              engaging and effective.') }}
            </p>
          </div>
          <div class="advantages__item border">
            <h4 class="advantages__title">
              {{ _('Thoughtful UX/UI Design') }}
            </h4>
            <p class="advantages__description">
              {{ _('Intuitive navigation, comfort, and ease of use for all age
              groups.') }}
            </p>
          </div>
          <div class="advantages__item border">
            <h4 class="advantages__title">{{ _('User Data Protection') }}</h4>
            <p class="advantages__description">
              {{ _('A security system that protects personal data, ensuring
              complete confidentiality.') }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="project">
      <div class="project__wrapper container">
        <img
          src="{{ url_for('static', filename='img/skillpoint-pc.png') }}"
          alt="project-img"
          class="project__img skillpoint-pc"
        />
      </div>
    </section>
    <section class="properties">
      <div class="properties__wrapper container">
        <div class="properties__list">
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Development Cost:') }}</span
                >
                <span class="properties__value">1840 $</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap properties__item-wrap--filled">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Development Time:') }}</span
                >
                <span class="properties__value">19 {{ _('days') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('SEO Optimization:') }}</span
                >
                <span class="properties__value"> {{ _('Included') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Technical Support:') }}</span
                >
                <span class="properties__value">8 {{ _('months') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name"> {{ _('Admin Panel:') }}</span>
                <span class="properties__value"> {{ _('Yes') }}</span>
              </p>
            </div>
          </div>
          <div class="properties__item">
            <div class="properties__item-wrap">
              <p class="properties__item-title">
                <span class="properties__name">
                  {{ _('Number of Pages:') }}</span
                >
                <span class="properties__value">12</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="project">
      <div class="project__wrapper container">
        <img
          src="{{ url_for('static', filename='img/skillpoint-mobile.png') }}"
          alt="project-img"
          class="project__img skillpoint-mobile"
        />
      </div>
    </section>

    <section class="results">
      <div class="results__wrapper container">
        <div class="results__list">
          <div class="results__item">
            <h3 class="results__title">
              <span class="gray-text">{{ _('Project Indicators') }}</span>
            </h3>
            <h4 class="results__subtitle">
              {{ _('Rise App boosts project sales') }}
            </h4>
          </div>

          <div class="results__item results__item--highlight">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/3.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('Sales Growth') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('Increases sales thanks to an intuitive and user-friendly
              interface tailored to customer needs.') }}
            </p>
          </div>

          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/3.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('UI Design') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('An intuitive interface with filters, categories, and
              recommendations that simplify product search and selection.') }}
            </p>
          </div>

          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/5.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('Responsive Design') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('Increased mobile traffic thanks to a responsive design.') }}
            </p>
          </div>

          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/6.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">
                {{ _('Conversion Rate Improvement') }}
              </h4>
            </div>
            <p class="results__desc">
              {{ _('Makes the selection process easier for customers through
              convenient navigation and a structured catalog.') }}
            </p>
          </div>

          <div class="results__item">
            <div class="results__header">
              <img
                src="{{ url_for('static', filename='img/7.svg') }}"
                alt="header-icon"
                class="results__header-icon"
              />
              <h4 class="results__header-text">{{ _('Product Placement') }}</h4>
            </div>
            <p class="results__desc">
              {{ _('Detailed product information, including prices, ratings, and
              a quick order feature, helps increase purchase numbers.') }}
            </p>
          </div>
        </div>
      </div>
    </section>
    {% include 'form.html' %} {% include 'form-finder.html' %}
  </main>
  {% include 'footer.html' %}
</div>
{% endblock %}
