<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RiseApp Сompany</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}?v=1.2"
    />
    <script
      src="{{ url_for('static', filename='js/scripts.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__wrapper container">
          <div class="header__company">
            <img
              src="{{ url_for('static', filename='img/logotype.png') }}"
              alt="logotype"
              class="header__logo"
            />
            <h2 class="header__company-name">
              <span class="company-name font--bold">Rise</span
              ><span class="company-name">App</span>
            </h2>
          </div>
          <div class="header__mobnav-button">
            <div class="header__mobnav-stick"></div>
            <div class="header__mobnav-stick"></div>
          </div>
          <nav class="header__nav">
            <a class="nav__link nav__link-portfolio nav__link--white"
              >Портфоліо</a
            >
            <div class="nav__lang">
              <a class="nav__lang-switcher lang-toggle" ontouchstart="">UA</a>
              <div class="nav__lang-menu-wrapper">
                <ul class="nav__lang-menu">
                  <li class="nav__lang-item">
                    <a class="nav__lang-link">UA</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <main>
        <section class="details__intro animated-slide slide-bottom-top">
          <div class="intro-wrapper container">
            <div class="intro-textpart">
              <h4 class="intro-header">Проект 24-го року</h4>
              <h2 class="intro-title">Тренд Сіті</h2>
              <h2 class="intro-name">Український маркетплейс</h2>
              <h4 class="intro-description">
                Маркетплейс, який націлений на поєднання покупців та продавців у
                єдиному просторі, надаючи широкий вибір товарів та послуг від
                локальних та національних брендів.
              </h4>
            </div>
            <div class="intro-imgpart">
              <img
                src="{{ url_for('static', filename='img/details-img.png') }}"
                alt=""
                class="intro-img"
              />
            </div>
          </div>
        </section>
        <section class="advantages">
          <div class="advantages__wrapper container">
            <div class="advantages__list">
              <div class="advantages__item">
                <h4 class="advantages__title">Зручний інтерфейс</h4>
                <p class="advantages__description">
                  Проста навігація, сучасний і стильний дизайн, адаптивність для
                  мобільних і десктопних пристроїв.
                </p>
              </div>
              <div class="advantages__item">
                <h4 class="advantages__title">Функції персоналізації</h4>
                <p class="advantages__description">
                  Рекомендації товарів на основі переваг користувача, історії
                  покупок і перегляданих товарів.
                </p>
              </div>
              <div class="advantages__item">
                <h4 class="advantages__title">Можливість співпраці</h4>
                <p class="advantages__description">
                  Допомога українським підприємцям вийти на онлайн-ринок,
                  спеціальні умови для нових продавців.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="project">
          <div class="project__wrapper container">
            <img
              src="{{ url_for('static', filename='img/trendcity-pc.png') }}"
              alt="project-img"
              class="project__img trendcity-pc"
            />
          </div>
        </section>
        <section class="properties">
          <div class="properties__wrapper container">
            <div class="properties__list">
              <div class="properties__item">
                <div class="properties__item-wrap">
                  <p class="properties__item-title">
                    <span class="properties__name">Вартість розробки:</span>
                    <span class="properties__value">2290 $</span>
                  </p>
                </div>
              </div>
              <div class="properties__item">
                <div
                  class="properties__item-wrap properties__item-wrap--filled"
                >
                  <p class="properties__item-title">
                    <span class="properties__name">Час розробки:</span>
                    <span class="properties__value">38 днів</span>
                  </p>
                </div>
              </div>
              <div class="properties__item">
                <div class="properties__item-wrap">
                  <p class="properties__item-title">
                    <span class="properties__name">SEO-оптимізація:</span>
                    <span class="properties__value">Включена</span>
                  </p>
                </div>
              </div>
              <div class="properties__item">
                <div class="properties__item-wrap">
                  <p class="properties__item-title">
                    <span class="properties__name">Технічна підтримка:</span>
                    <span class="properties__value">6 месяцев</span>
                  </p>
                </div>
              </div>
              <div class="properties__item">
                <div class="properties__item-wrap">
                  <p class="properties__item-title">
                    <span class="properties__name"
                      >Адміністративна панель:</span
                    >
                    <span class="properties__value">Так</span>
                  </p>
                </div>
              </div>
              <div class="properties__item">
                <div class="properties__item-wrap">
                  <p class="properties__item-title">
                    <span class="properties__name">Кількість сторінок:</span>
                    <span class="properties__value">16</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="project">
          <div class="project__wrapper container">
            <img
              src="{{ url_for('static', filename='img/trendcity-mobile.png') }}"
              alt="project-img"
              class="project__img trendcity-mobile"
            />
          </div>
        </section>
        <section class="results">
          <div class="results__wrapper container">
            <div class="results__list">
              <div class="results__item">
                <h3 class="results__title">
                  Головні <span class="gray-text">показники</span> пректу
                </h3>
                <h4 class="results__subtitle">
                  Rise app збільшує показники продажів проектів
                </h4>
              </div>

              <div class="results__item results__item--highlight">
                <div class="results__header">
                  <img
                    src="{{ url_for('static', filename='img/3.svg') }}"
                    alt="header-icon"
                    class="results__header-icon"
                  />

                  <h4 class="results__header-text">Зростання продажів</h4>
                </div>
                <p class="results__desc">
                  Підвищує продажі на 30% завдяки зрозумілому та зручному
                  інтерфейсу, орієнтованому на потреби клієнтів.
                </p>
              </div>
              <div class="results__item">
                <div class="results__header">
                  <img
                    src="{{ url_for('static', filename='img/3.svg') }}"
                    alt="header-icon"
                    class="results__header-icon"
                  />

                  <h4 class="results__header-text">UI-дизайн</h4>
                </div>
                <p class="results__desc">
                  Інтуїтивно зрозумілий інтерфейс із фільтрами, категоріями та
                  рекомендаціями, що спрощують пошук і вибір товарів.
                </p>
              </div>
              <div class="results__item">
                <div class="results__header">
                  <img
                    src="{{ url_for('static', filename='img/5.svg') }}"
                    alt="header-icon"
                    class="results__header-icon"
                  />

                  <h4 class="results__header-text">Адаптивний дизайн</h4>
                </div>
                <p class="results__desc">
                  Збільшив мобільний трафік на 50% завдяки адаптивному дизайну
                </p>
              </div>
              <div class="results__item">
                <div class="results__header">
                  <img
                    src="{{ url_for('static', filename='img/6.svg') }}"
                    alt="header-icon"
                    class="results__header-icon"
                  />

                  <h4 class="results__header-text">Підвищення конверсій</h4>
                </div>
                <p class="results__desc">
                  Полегшує клієнтам процес вибору завдяки зручній навігації та
                  структурованому каталогу.
                </p>
              </div>
              <div class="results__item">
                <div class="results__header">
                  <img
                    src="{{ url_for('static', filename='img/7.svg') }}"
                    alt="header-icon"
                    class="results__header-icon"
                  />
                  <h4 class="results__header-text">Розміщення товарів</h4>
                </div>
                <p class="results__desc">
                  Інформація про товари, включаючи ціни, рейтинги та функцію
                  швидкого замовлення, сприяє збільшенню кількості покупок.
                </p>
              </div>
            </div>
          </div>
        </section>
        {% include 'form.html' %} {% include 'form-finder.html' %}
      </main>
      {% include 'footer.html' %}
    </div>
  </body>
</html>
